{% extends "layout.html" %}
{% block title %}
<title>{{ post.title }} &mdash; TrueCraft</title>
{% endblock %}
{% block body %}
<h3>
    {{ post.title }}
    {% if user.admin %}
    <a href="{{ url_for("html.edit_blog", id=post.id) }}">Edit</a>
    {% endif %}
</h3>
<h4>Published {{ post.created.strftime("%b %d, %Y") }}</h4>
{% if post.image.endswith(".webm") %}
<video src="{{ post.image }}" autoplay></video>
{% else %}
<img src="{{ post.image }}" />
{% endif %}
{{ post.text | markdown }}
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'truecraft';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endblock %}
