{% extends "layout.html" %}
{% block body %}
<h3>Compose blog post</h3>
{% if errors %}
<div class="alert alert-danger">
    <p>All fields are required.</p>
</div>
{% endif %}
<form action="/blog/compose" method="POST">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="post-title" id="post-title" class="form-control"
            value="{% if post %}{{ post.title }}{% endif %}" />
    </div>
    <div class="form-group">
        <label for="post-image">Image URL</label>
        <input type="text" name="post-image" id="post-image" class="form-control" 
            value="{% if post %}{{ post.image }}{% endif %}" />
    </div>
    <div class="form-group">
        <label for="post-content">Content</label>
        <textarea name="post-content" id="post-content" rows="20"
            class="form-control">{% if post %}{{ post.text }}{% endif %}</textarea>
    </div>
    <button type="submit" class="btn btn-success btn-block">Publish</button>
</form>
{% endblock %}
{% block scripts %}
<script>
(function() {
    var editor = new Editor();
    editor.render();
})();
</script>
{% endblock %}
