{% extends "layout.html" %}
{% block body %}

{% filter markdown %}

### Download TrueCraft

<div class="alert alert-danger"><strong>TrueCraft is not done. These downloads are experimental.</strong></div>

[**Download TrueCraft**](jenkins.b303.me/job/TrueCraft/lastSuccessfulBuild/artifact/TrueCraft.zip) &mdash;
[Source code (.tar.gz)](https://github.com/SirCmpwn/TrueCraft/tarball/master) &mdash;
[Source code (.zip)](https://github.com/SirCmpwn/TrueCraft/zipball/master)

Run `TrueCraft.Launcher.exe` to get started. On Linux or Mac, run `mono TrueCraft.Launcher.exe` instead.

{% endfilter %}
{% endblock %}
