{% extends "layout.html" %}
{% block body %} 
<div class="alert alert-warning">The new TrueCraft website is a work in progress.</div>

{% filter markdown %}

# TrueCraft

The good old days of Minecraft, brought back in all their simplistic glory.

## About TrueCraft

A completely [clean-room](https://en.wikipedia.org/wiki/Clean_room_design)
implementation of Minecraft beta 1.7.3 (circa September 2011). No decompiled
code has been used in the development of this software.

I miss the old days of Minecraft, when it was a simple game. It was nearly
perfect. Most of what Mojang has added since beta 1.7.3 is fluff, life support
for a game that was "done" years ago. This is my attempt to get back to the
original spirit of Minecraft, before there were things like the End, or
all-in-one redstone devices, or village gift shops. A simple sandbox where you
can build and explore and fight with your friends. I miss that.

[**Roadmap »**](/roadmap)

{% endfilter %}
{% endblock %}
