{% extends "layout.html" %}
{% block body %} 
{% filter markdown %}

# TrueCraft

The good old days of Minecraft, brought back in all their simplistic glory.

## About TrueCraft

A completely [clean-room](https://en.wikipedia.org/wiki/Clean_room_design)
implementation of Minecraft beta 1.7.3 (circa September 2011). No decompiled
code has been used in the development of this software.

I miss the old days of Minecraft, when it was a simple game. It was nearly
perfect. Most of what Mojang has added since beta 1.7.3 is fluff, life support
for a game that was "done" years ago. This is my attempt to get back to the
original spirit of Minecraft, before there were things like the End, or
all-in-one redstone devices, or village gift shops. A simple sandbox where you
can build and explore and fight with your friends. I miss that.

[**Roadmap »**](/roadmap)

<a class="rss" href="/rss.xml"><img src="/static/rss.png" /></a>

# Updates

Some of these screenshots are of the official Minecraft client connecting to a
TrueCraft server, and some are of the TrueCraft client connecting to a TrueCraft
server. You can tell the difference by the texture packs - the official assets
are screenshots of the official Minecraft client.

{% endfilter %}

{% for post in posts %}
<h3>
    <a href="{{ url_for("html.view_blog", id=post.id, title=post.title) }}">{{ post.title }}</a>
    <small>{{ post.created.strftime("%b %d, %Y") }}</small>
</h3>
{% if post.image.endswith(".webm") %}
<video src="{{ post.image }}" autoplay loop></video>
{% else %}
<img src="{{ post.image }}" />
{% endif %}
<p>{{ post.text | firstparagraph | markdown }} <a href="{{ url_for("html.view_blog", id=post.id, title=post.title) }}">Read more »</a></p>
{% endfor %}

{% if user.admin %}
<a href="/blog/compose">Compose new post</a>
{% endif %}

<div class="text-center">
    <ul class="pagination">
        {% for i in range(1, total_pages + 2) %}
            {% if i == 1 %}
            <li class="active"><a href="/updates?page={{ i }}">{{ i }}</a></li>
            {% else %}
            <li><a href="/updates?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        <li>
            <a href="/updates?page=2" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
