{% extends "layout.html" %}
{% block body %} 
<a class="rss" href="/rss.xml"><img src="/static/rss.png" /></a>
<h2>TrueCraft Updates</h2>

{% for post in posts %}
<h3>
    <a href="{{ url_for("html.view_blog", id=post.id, title=post.title) }}">{{ post.title }}</a>
    <small>{{ post.created.strftime("%b %d, %Y") }}</small>
</h3>
<img src="{{ post.image }}" />
<p>{{ post.text | firstparagraph | markdown }}</p>
{% endfor %}

<div class="text-center">
    <ul class="pagination">
        {% if page != 1 %}
        <li>
            <a href="/updates?page={{ page - 1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for i in range(1, total_pages + 1) %}
            {% if i == page %}
            <li class="active"><a href="/updates?page={{ i }}">{{ i }}</a></li>
            {% else %}
            <li><a href="/updates?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page != total_pages %}
        <li>
            <a href="/updates?page={{ page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
